<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>crm</display-name>
  <!--欢迎页面-->
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
  </welcome-file-list>

  <!--字符编码过滤器-->
  <filter>
    <filter-name>EncodingFilter</filter-name>
    <filter-class>com.bjpowernode.web.filter.EncodingFilter</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>EncodingFilter</filter-name>
    <url-pattern>*.do</url-pattern>
  </filter-mapping>

  <!--用户登陆过滤器-->
  <filter>
    <filter-name>LoginFilter</filter-name>
    <filter-class>com.bjpowernode.web.filter.LoginFilter</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>LoginFilter</filter-name>
    <url-pattern>*.do</url-pattern>
    <url-pattern>*.jsp</url-pattern>
    <url-pattern>*.html</url-pattern>
  </filter-mapping>

  <!--域对象监听器
      用来监听域对象的创建与消亡
  -->
  <listener>
    <listener-class>com.bjpowernode.web.listener.SysInitListener</listener-class>
  </listener>

  <!--用户登陆控制页面-->
  <servlet>
    <servlet-name>UserController</servlet-name>
    <servlet-class>com.bjpowernode.settings.web.controller.UserController</servlet-class>
  </servlet>

  <servlet-mapping>
    <servlet-name>UserController</servlet-name>
    <!--用户登陆查询列表-->
    <url-pattern>/settings/user/login.do</url-pattern>
  </servlet-mapping>

  <!--查询所有用户列表-->
  <servlet>
    <servlet-name>ActivityController</servlet-name>
    <servlet-class>com.bjpowernode.workbench.web.controller.ActivityController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ActivityController</servlet-name>
    <!--查询所有用户列表-->
    <url-pattern>/workbench/activity/getUserList.do</url-pattern>
    <!--市场活动添加列表-->
    <url-pattern>/workbench/activity/saveActivity.do</url-pattern>
    <!--进行分页查询-->
    <url-pattern>/workbench/activity/pageList.do</url-pattern>
    <!--执行市场活动列表删除操作-->
    <url-pattern>/workbench/activity/delBySelId.do</url-pattern>

    <!--执行市场活动，通过点击进入到市场活动详情页，通过id 查单条-->
    <url-pattern>/workbench/activity/detail.do</url-pattern>
    <!--通过市场活动id查询市场活动备注信息-->
    <url-pattern>/workbench/activity/showRemarkListById.do</url-pattern>
    <!--删除备注信息，通过id(市场活动备注id)删除-->
    <url-pattern>/workbench/activity/deleteRemarkById.do</url-pattern>
    <!--为修改备注信息的模态窗口，点击更新按钮，执行更新操作-->
    <url-pattern>/workbench/activity/updateRemark.do</url-pattern>
    <!--市场活动列表添加备注信息-->
    <url-pattern>/workbench/activity/saveRemark.do</url-pattern>
  </servlet-mapping>

  <!--线索模块-->
  <servlet>
    <servlet-name>ClueController</servlet-name>
    <servlet-class>com.bjpowernode.workbench.web.controller.ClueController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ClueController</servlet-name>
    <!--点击创建，查询userList列表-->
    <url-pattern>/workbench/clue/getUserList.do</url-pattern>
    <!--为线索保存按钮绑定事件，进行提交表单的操作-->
    <url-pattern>/workbench/clue/createClue.do</url-pattern>
    <!--根据id查询线索列表名称中的详细信息-->
    <url-pattern>/workbench/clue/detail.do</url-pattern>
    <!--根据线索id查询市场活动列表-->
    <url-pattern>/workbench/clue/getActivityListByClueId.do</url-pattern>
  </servlet-mapping>
</web-app>
































